<app-gototop [pager]="gototopView" ></app-gototop>

<div class="footer">
	<footer class="bd-footer">
		<div class="clearfix"><br /><br /></div>
		<div class="container">
			<div *ngFor="let footer of footerData" class="row justify-content-center">
				<div class="col-12 col-lg-3">
					<div class="logo_footer">
						<div><img [src]="footer.copy.logo" alt="desistemasWEB//" class="img-fluid" /></div>
						<div class="lead tx" [innerHTML]="footer.copy.nombreEmpresa"></div>
						<p><small [innerHTML]="footer.copy.disclaimer"></small></p>
						<div class="redes">
							<a *ngFor="let redes of footer.redes" [href]="redes.url" class="afoot {{ redes.redesClass }}">
								<i class="{{ redes.icon }} fa-2x" aria-hidden="true"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-6">
					<h3 [innerHTML]="footer.direccion.titulo"></h3>
					<div *ngFor="let texto of footer.direccion.textos">
						<p [innerHTML]="texto"></p>
					</div>
				</div>
				<div class="col-12 col-lg-3">
					<div *ngFor="let enlace of footer.enlaces" >
						<div class="list-footer">
							<a [routerLink]="enlace.url" class="afootLink" onclick="topFunction()">
								<i class="fas fa-star-of-life" aria-hidden="true"></i>&nbsp;
								<span [innerHTML]="enlace.linkText"></span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"><br /><div style="font-size: 6px; text-align: center;">Cristo te ama</div><br /></div>
	</footer>
</div>