<!-- EL MENU -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top navbar-custom" role="navigation">
	<div class="container">
		<button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse"
			data-target="#navbarNavDropdown" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation"
			(click)="collapsed = !collapsed" [attr.aria-expanded]="!collapsed">
			<span class="navbar-toggler-icon"></span>
			<span class="navbar-toggler-icon"></span>
			<span class="navbar-toggler-icon"></span>
		</button>
		<a (click)="collapsed = true" class="navbar-brand navbar-brand-shadow" routerLink="/home" onclick="topFunction()">
			<div class="logo-brand">
				<span class="p1">desistemas</span>
				<span class="p2">WEB</span>
				<span class="p3">//</span>
			</div>
		</a>
		<div class="collapsed navbar-collapse" [class.collapse]="collapsed" id="navbarNavDropdown">
			<ul class="navbar-nav mr-auto">
				<li *ngFor="let ltrs of literals" [ngClass]="setClass(ltrs)">
					<a (click)="collapsed = true" *ngIf="!ltrs.subMenu" class="nav-link" [routerLink]="ltrs.link"
						onclick="topFunction()">
						<span [innerHTML]="renderLiteralsMenu( ltrs.label, selectedLanguage )"></span>
					</a>
					<div ngbDropdown *ngIf="ltrs.subMenu">
						<a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdownMenuLink01" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false" routerLinkActive="active">
							<span [innerHTML]="renderLiteralsMenu( ltrs.label, selectedLanguage )"></span>
						</a>
						<div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink01">
							<div *ngFor="let subMenu of ltrs.subMenu">
								<h6 class="dropdown-header">
									<i [class]="subMenu.icon" aria-hidden="true"></i>&nbsp;
									<span [innerHTML]="renderLiteralsMenu( subMenu.label, selectedLanguage )"></span>
								</h6>
								<a ngbDropdownItem *ngFor="let item of subMenu.items"
									[innerHTML]="renderLiteralsMenu( item.labels, selectedLanguage )" class="dropdown-item"
									[routerLink]="item.link" onclick="topFunction()" (click)="collapsed = true"></a>
							</div>
						</div>
					</div>
				</li>
			</ul>
			<div class="float-right d-none d-md-block">
				<ul class="navbar-nav">
					<li ngbDropdown #myDrop="ngbDropdown" class="nav-item dropdown">
						<a ngbDropdownToggle #lang class="nav-link lang" id="navbarDropdownMenuLink02" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false" routerLinkActive="active"
							ngbDropdownAnchor>
							{{ selectedLanguage | uppercase }}
						</a>
						<div ngbDropdownMenu class="dropdown-menu dropdownLang" aria-labelledby="navbarDropdownMenuLink02">
							<div ngbDropdownItem role="button" class="custom-control custom-radio custom-control-inline rdb"
								(click)="selectLanguage('esp');  myDrop.close()" onclick="topFunction()">
								<input type="radio" id="customRadioInline11" [checked]="selectLangClass('esp', selectedLanguage)"
									name="customRadioInline11" class="custom-control-input">
								<label class="custom-control-label" for="customRadioInline11">ESP</label>
							</div>
							<div class="separador"></div>
							<div ngbDropdownItem role="button" class="custom-control custom-radio custom-control-inline rdb"
								(click)="selectLanguage('eng'); myDrop.close()" onclick="topFunction()">
								<input type="radio" id="customRadioInline12" [checked]="selectLangClass('eng', selectedLanguage)"
									name="customRadioInline11" class="custom-control-input">
								<label class="custom-control-label" for="customRadioInline12">ENG</label>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="float-right d-block d-md-none">
				<div class="custom-control custom-radio custom-control-inline rdb"
					(click)="selectLanguage('esp'); collapsed = true" onclick="topFunction()">
					<input type="radio" id="customRadioInline21" [checked]="selectLangClass('esp', selectedLanguage)"
						name="customRadioInline2" class="custom-control-input">
					<label class="custom-control-label" for="customRadioInline21">ESP</label>
				</div>
				<div class="custom-control custom-radio custom-control-inline rdb"
					(click)="selectLanguage('eng'); collapsed = true" onclick="topFunction()">
					<input type="radio" id="customRadioInline22" [checked]="selectLangClass('eng', selectedLanguage)"
						name="customRadioInline2" class="custom-control-input">
					<label class="custom-control-label" for="customRadioInline22">ENG</label>
				</div>
			</div>
		</div>
	</div>
</nav>