.main-bg{display: flex;flex-direction: column;justify-content: flex-start;min-height: 100vh; z-index: 10 !important; background-repeat: no-repeat; background-size: cover; background-position: center 30%; transition: all ease 0.3s;}
.closeBtn, .linkBtn{margin-top: 1rem; color: antiquewhite;}
.closeBtn:hover, .linkBtn:hover{ color: royalblue;}
.linkBtn{margin-bottom: 1rem; text-decoration: none !important;}
.newUserForm{ color: antiquewhite;display: flex;justify-content: flex-start;flex-direction: column; padding: 2rem; background: rgba(0,0,0, 0.4);box-shadow: 1px 1px 4px 0px rgba(66, 52, 52, 0.8);}
.icon-right{position: absolute;right: 2rem;top: 2rem;}
.myForm{ margin-top: 2rem;}
.form-group{position: relative;}
.form-group .form-control{border-radius: 0px !important; padding-left: 34px !important;padding-right: 34px !important;background-clip: initial !important;}
.form-control:focus {outline: 0 !important;box-shadow: none;border-color:#aaaaaa;}
.input-group-text{border:0px; }
.chkLabel{cursor: pointer;}
.chkLabel:active{color: royalblue;}
.form_ico{width: 30px; height: auto; padding:8px; position: absolute; margin-left:1px; margin-top:2px; z-index: 10;color:#111111;}
.error_content {color: #FA787E; display: block;}
.error_text, .ok_text {position:absolute; display: block; right: 10px; top:6px; z-index:90000 !important;}
.error_text{color: #FA787E;}
.ok_text {color: #78FA89;}
.alertWrapper{position: fixed;top:60px; left:20px; right: 20px;padding: 20px !important;z-index: 102; width: 50%; margin: 0 auto;}
