
/*modal*/
.promo-modal{ margin-bottom: 2rem;}
.modal-body{padding:0px !important;}
.subtitle{ font-size: 0.8rem;}
.modal-btn{text-align: right;}
.wrapperPromo{ margin-top: 1rem;}
.promo{margin-bottom: 1rem; padding-top: 1rem; padding-bottom: 1rem; border: 1px solid #dee2e6;}
.promo-detalle{ padding-left: 0.4rem; margin-left: 0.7rem;margin-right: 0.63rem;padding: 0.2rem;}
.regular-price, .offer-price{ padding: 1rem; text-align: center; }
.regular-price{ background: gray;}
.offer-price{ background: orangered;}
.extra-promo{ margin-top: 1rem; margin-bottom: 1rem;}
.backdrop { background-color:rgba(0,0,0,0.7);position:fixed;top:0;left:0;width:100%;height:100vh;z-index: 1040;overflow: hidden !important;}

/*accordion*/
.contenedor-accordion,.accordion{margin-top:1rem; margin-bottom: 0rem;}
.accordion .card {margin-bottom:3px; border-radius: 0px; background: #ffffff !important; border: 0px !important;}
.accordion .card .collapse-chevron .collapsed .card-header{color: #4e4e4e;background: #ffffff !important; border: 0px !important;}
.accordion .card .collapse-chevron .card-header{padding: 0px !important; background: #ffffff !important; color: #0056b3; border: 0px !important;}
.accordion .card .collapse-chevron .collapsed .card-header:hover{color: #0056b3;} 
.accordion .card .collapse-chevron .collapsed .card-header:active{color: #0056b3; background: #ffffff !important; border: 0px !important;}
.accordion .card .collapse-chevron a{text-decoration: none !important;}
.collapse-chevron .fa-angle-down, .arrow{transition: .3s transform ease-in-out; transform: rotate(-180deg);}
.card .collapse-chevron .collapsed .fa-angle-down {transform: rotate(-360deg);}
.arrow{transform: rotate(-270deg);}
.terms{ padding-left: 0px;}

@media (min-width: 576px) {
    .arrow {transform: rotate(0deg);}
}