/*Caption*/
.gridPortaf {padding: 0px;margin: 20px auto;}
.gridPortaf figure {margin: 0;position:relative;-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;}
.gridPortaf figure img {max-width: 100%;display: block;position: relative;}
.gridPortaf figcaption {position: absolute;top: 0;left: 0;opacity: 0;height: 100%;width: 100%;color: aliceblue;background: rgba(0, 0, 0, 0.6);-webkit-backface-visibility: hidden;-moz-backface-visibility: hidden;backface-visibility: hidden;-webkit-transition: opacity 0.3s;-moz-transition: opacity 0.3s;transition: opacity 0.3s;}
.gridPortaf figure:hover figcaption {opacity: 1; height: 100%;width: 100%;}
.gridPortaf figcaption .search{display: flex; flex-direction:column; justify-content: center; align-items: center; height:100%; cursor:pointer;border:2px solid white;}

@media (min-width: 576px) {
  .gridPortaf {padding: 0px;margin: 14px auto;}
}