<div *ngIf="generalError">
	<app-error-default [errMsj]="generalErrorMsj"></app-error-default>
</div>

<div *ngIf="!generalError" class="general-container">

	<app-loading *ngIf="loading"></app-loading>

	<div *ngFor="let contacto of contactoData">
		<div class="main-banner">
			<div *ngIf="!loading" class="banner animated fadeIn"
				[ngStyle]="{'background-image':'url(' + contacto.contactoContent.backgroundImage + ')'}"></div>
		</div>

		<div *ngIf="!loading" class="container">
			<div class="row">
				<div class="col-12">
					<div *ngIf="showC; else generalTitle">
						<div *ngIf="showP; else msjNoValido">
							<h1 [innerHTML]="contacto.contactoContent.tituloMensajeOkPacks"></h1><br />
							<p [innerHTML]="getMsjPack(contacto.contactoContent.mensajeOkPacks)" class="lead intro"></p>
						</div>
					</div>

					<ng-template #msjNoValido>
						<h1 [innerHTML]="contacto.contactoContent.tituloMensajeErrorPacks"></h1><br />
						<p [innerHTML]="contacto.contactoContent.mensajeErrorPacks" class="lead intro"></p>
					</ng-template>

					<ng-template #generalTitle>
						<h1 [innerHTML]="contacto.contactoContent.titulo"></h1><br />
						<p [innerHTML]="contacto.contactoContent.subTitulo" class="lead intro"></p>
					</ng-template>
				</div>
			</div>

			<div class="row">
				<div class="col-12 col-xl-10">
					<div class="contenido_gen">
						<div class="row">
							<div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-5">
								<div class="img_content">
									<img class="img-fluid" [src]="contacto.leftSection.imgSection" alt="Contacto" />
								</div>
								<div class="row address">
									<div class="col-12 col-md-6 col-lg-12">
										<div [innerHTML]="contacto.leftSection.telefonos"></div>
									</div>
									<div class="col-12 col-md-6 col-lg-12">
										<div [innerHTML]="contacto.leftSection.correos"></div>
									</div>
								</div>
							</div>
							<div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-7">
								<h4 [innerHTML]="contacto.formContacto.titulo"></h4>
								<div [innerHTML]="contacto.formContacto.info"></div>

								<div class="myForm" >
									<div *ngFor="let response of contactoDataResponse">
										<div [ngClass]="errorClass" role="alert">
											<button type="button" class="close" data-dismiss="alert" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
											<div><strong [innerHTML]="response.title"></strong></div>
											<hr />
											<div [innerHTML]="response.message"></div>
										</div>
									</div>

									<form [formGroup]="myForm" (ngSubmit)="saveData()" id="myForm" novalidate>
										<div class="form-group">
											<div class="input-group">
												<div class="input-group-prepend">
													<div class="input-group-text form_ico bg-transparent">
														<i class="far fa-address-book" aria-hidden="true"></i>
													</div>
												</div>
												<input type="text" class="form-control" formControlName="nombre" value="" [placeholder]="contacto.formContacto.inputName.placeholder" />
											</div>
											<div *ngIf="myForm.get('nombre').errors && (myForm.get('nombre').dirty || myForm.get('nombre').touched); else ok_name"  class="error_content">
												<div *ngIf="myForm.get('nombre').hasError('required')" [innerHTML]="contacto.formContacto.inputName.required_text"></div>
												<div class="error_text">
													<span class="text-danger">
														<i [ngClass]="contacto.formContacto.error_icon" aria-hidden="true"></i>
													</span>
												</div>
											</div>
											<ng-template #ok_name>
												<div class="ok_text" *ngIf="!myForm.get('nombre').hasError('required')">
													<span class="text-success">
														<i [ngClass]="contacto.formContacto.ok_icon" aria-hidden="true"></i>
													</span>
												</div>
											</ng-template>
										</div>

										<div class="form-group">
											<div class="input-group">
												<div class="input-group-prepend">
													<div class="input-group-text form_ico bg-transparent">
														<i class="far fa-envelope" aria-hidden="true"></i>
													</div>
												</div>
												<input type="text" class="form-control" formControlName="correo" value="" [placeholder]="contacto.formContacto.inputEmail.placeholder" />
											</div>
											<div *ngIf="myForm.get('correo').errors && (myForm.get('correo').dirty || myForm.get('correo').touched); else ok_email" class="error_content">
												<div *ngIf="myForm.get('correo').hasError('required')" [innerHTML]="contacto.formContacto.inputEmail.required_text"></div>
												<div *ngIf="myForm.get('correo').hasError('pattern')" [innerHTML]="contacto.formContacto.inputEmail.wrong_text"></div>
												<div class="error_text">
													<span class="text-danger">
														<i [ngClass]="contacto.formContacto.error_icon" aria-hidden="true"></i>
													</span>
												</div>
											</div>
											<ng-template #ok_email>
												<div *ngIf="!myForm.get('correo').hasError('required') && !myForm.get('correo').hasError('pattern')" class="ok_text">
													<span class="text-success">
														<i [ngClass]="contacto.formContacto.ok_icon" aria-hidden="true"></i>
													</span>
												</div>
											</ng-template>
										</div>

										<div class="form-group">
											<div class="input-group">
												<div class="input-group-prepend">
													<div class="input-group-text form_ico bg-transparent">
														<i class="fas fa-phone" aria-hidden="true"></i>
													</div>
												</div>
												<input type="text" class="form-control" formControlName="telefono" value="" [placeholder]="contacto.formContacto.inputTel.placeholder" />
											</div>
											<div *ngIf="myForm.get('telefono').errors && (myForm.get('telefono').dirty || myForm.get('telefono').touched); else ok_tel" class="error_content">
												<div *ngIf="myForm.get('telefono').hasError('required')" [innerHTML]="contacto.formContacto.inputTel.required_text"></div>
												<div *ngIf="myForm.get('telefono').hasError('pattern')" [innerHTML]="contacto.formContacto.inputTel.wrong_text"></div>
												<div class="error_text">
													<span class="text-danger">
														<i [ngClass]="contacto.formContacto.error_icon" aria-hidden="true"></i>
													</span>
												</div>
											</div>
											<ng-template #ok_tel>
												<div *ngIf="!myForm.get('telefono').hasError('required') && !myForm.get('telefono').hasError('pattern')" class="ok_text" >
													<span class="text-success">
														<i [ngClass]="contacto.formContacto.ok_icon" aria-hidden="true"></i>
													</span>
												</div>
											</ng-template>
										</div>

										<div class="form-group">
											<div class="input-group">
												<div class="input-group-prepend">
													<div class="input-group-text form_ico bg-transparent">
														<i class="far fa-file-alt" aria-hidden="true"></i>
													</div>
												</div>
												<textarea type="text" rows="2" class="form-control"
													formControlName="mensaje" value=""
													[placeholder]="contacto.formContacto.inputMensaje.placeholder"></textarea>
											</div>
											<div *ngIf="myForm.get('mensaje').errors && (myForm.get('mensaje').dirty || myForm.get('mensaje').touched); else ok_msj" class="error_content">
												<div *ngIf="myForm.get('mensaje').hasError('required')" [innerHTML]="contacto.formContacto.inputMensaje.required_text"></div>
												<div class="error_text">
													<span class="text-danger">
														<i [ngClass]="contacto.formContacto.error_icon" aria-hidden="true"></i>
													</span>
												</div>
											</div>
											<ng-template #ok_msj>
												<div class="ok_text" *ngIf="!myForm.get('mensaje').hasError('required')">
													<span class="text-success">
														<i [ngClass]="contacto.formContacto.ok_icon" aria-hidden="true"></i>
													</span>
												</div>
											</ng-template>
										</div>

										<div class="row">
											<div class="col">
												<button type="button" (click)="gotoHome()"
													[innerHTML]="contacto.formContacto.cancel_button"
													onclick="topFunction()"
													class="btn btn-lg btn-outline-secondary w-100">
												</button>
											</div>
											<div class="col-6">
												<button *ngIf="isLoading === false" type="submit" [disabled]="myForm.invalid"
													[innerHTML]="contacto.formContacto.save_button"
													class="btn btn-lg btn-success w-100">
												</button>
												<button *ngIf="isLoading === true" type="button" [disabled]="myForm.invalid"
													class="btn btn-lg btn-success w-100">
													<i class="fas fa-sync-alt fa-spinner fa-pulse" aria-hidden="true"></i>
												</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>