<div class="animated fadeIn">
  <div *ngFor="let mdl of modalData" class="modal-content">
    <!-- modal-header -->
    <div class="modal-header">
      <h5 class="modal-title" id="staticBackdropLabel">
        <div [innerHTML]="mdl.titulo"></div>
        <div [innerHTML]="mdl.fechaCreacion" class="lead subtitle"></div>
      </h5>
      <button type="button" class="btn close btn-close" data-dismiss="modal" aria-label="Close"
        (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- modal-body -->
    <div class="modal-body">
      <img [src]="mdl.imagen" class="img-fluid" alt="imagen" width="100%">
    </div>
    <!-- modal-footer -->
    <div *ngIf="mdl.url != '#'" class="modal-footer">
      <a [href]="mdl.url" class="btn btn-outline-success" target="_blank">Visitar sitio web</a>
    </div>
  </div>
</div>
