<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="display-4">&iexcl;Gana dinero!</h1>
        <p class="lead">Si, ganar dinero por internet es real, aquí te cuento como.</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <ul class="nav nav-tabs justify-content-end bg-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
            aria-selected="true">
            <span class="fa-stack" style="vertical-align: top;">
            <i class="far fa-circle fa-stack-2x" aria-hidden="true"></i>
            <i class="fas fa-dollar-sign fa-stack-1x" aria-hidden="true"></i>
            </span>
            Dolares</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
            aria-selected="false">
            <span class="fa-stack" style="vertical-align: top;">
            <i class="far fa-circle fa-stack-2x" aria-hidden="true"></i>
            <i class="fas fa-ruble-sign fa-stack-1x" aria-hidden="true"></i>
            </span>
            Rublos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
            aria-selected="false">
            <span class="fa-stack" style="vertical-align: top;">
            <i class="far fa-circle fa-stack-2x" aria-hidden="true"></i>
            <i class="fab fa-btc fa-stack-1x" aria-hidden="true"></i>
            </span>
            Bitcoin</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="row">
            <div class="col-sm-4">
              <div class="card">
                <img title="Join NeoBux NOW!" alt="NeoBux" src="https://www.neobux.com/imagens/banner11.gif" class="img-fluid card-img-top"/>
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="https://www.neobux.com/?r=juanmenjivar" class="btn btn-outline-success">Regístrate ya!</a>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card">
                <img title="Join NeoBux NOW!" alt="NeoBux" src="https://www.neobux.com/imagens/banner11.gif" class="img-fluid card-img-top"/>
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="https://www.neobux.com/?r=juanmenjivar" class="btn btn-outline-success">Regístrate ya!</a>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card">
                <img title="Join NeoBux NOW!" alt="NeoBux" src="https://www.neobux.com/imagens/banner11.gif" class="img-fluid card-img-top"/>
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="https://www.neobux.com/?r=juanmenjivar" class="btn btn-outline-success">Regístrate ya!</a>
                </div>
              </div>
            </div>
          </div>




            <div class="list-group">
                <a href="https://www.neobux.com/?r=juanmenjivar" class="list-group-item list-group-item-action">
                  <h5 class="mb-1">NeoBux</h5>
                  <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                  <div class="row">
                    <div class="col-4">
                      <img title="Join NeoBux NOW!" alt="NeoBux" src="https://www.neobux.com/imagens/banner11.gif" class="img-fluid"/>
                    </div>
                    <div class="col-4"></div>
                    <div class="col-4"><button type="button" class="btn btn-outline-success">Regístrate ya!</button></div>
                  </div> 
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                  <h5 class="mb-1">Paidverts</h5>
                  <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                  <div><img title="Join PaidVerts NOW!" alt="PaidVerts" src="https://www.paidverts.com/promo/0_4_4.gif" /></div>
                  <div class="d-flex justify-content-end"><button type="button" class="btn btn-outline-success">Regístrate ya!</button></div>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">List group item heading</h5>
                    <small class="text-muted">3 days ago</small>
                  </div>
                  <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                  <small class="text-muted">Donec id elit non mi porta.</small>
                </a>
              </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          2...
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
          3...
        </div>
      </div>
    </div>
  </div>
</div>
