<div *ngIf="generalError" class="general-container-error">
	<app-error-loading [errMsj]="generalErrorMsj" ></app-error-loading>
</div>

<div *ngIf="!generalError" class="general-container">

	<app-loading *ngIf="loading"></app-loading>

	<div *ngIf="!loading"> 
		<div class="wrapperCarrusel">
			<app-carrusel></app-carrusel>
		</div>
		<div *ngFor="let data of homeData" class="container">
			<h1 [innerHTML]="data.homeContent.titulo" class="titulo"></h1>
			<p class="lead intro" [innerHTML]="data.homeContent.subTitulo"></p>

			<div class="row">
				<div *ngFor="let item of data.itemCard" class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
					<div class="contenedor content-card-gen">
						<div class="img_card_content"><img class="img-fluid" [src]="item.imgCardUrl | noimg" [alt]="item.imgCardAlt" /></div>
						<div class="card-body">
							<h4 [innerHTML]="item.tituloCard"></h4>
							<p class="card-text" [innerHTML]="item.contentCard"></p>
							<div class="btn_card_index">
								<a [routerLink]="item.botonCardUrl" class="btn btn-link" onclick="topFunction()">{{ item.botonCardText }}</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="clearfix"><br /><br /></div>

			<div class="row no-gutters">
				<div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-5">
					<div class="contenedor">
						<div class="area_index_img"><img [src]="data.comunicate.imgComunicateUrl  | noimg " [alt]="data.comunicate.imgComunicateAlt" class="img-fluid" /></div>
					</div>
				</div>

				<div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-7">
					<div class="contenedor area_index">
						<div class="area_index_txt">
							<h2 class="text-primary">{{ data.comunicate.tituloComunicate }}</h2>
							<p>{{ data.comunicate.contentComunicate }}</p>
							<div>
								<a [routerLink]="data.comunicate.botonComunicateUrl" class="btn btn-outline-primary btn-lg" onclick="topFunction()">{{ data.comunicate.botonComunicateText }}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
