.loader_error{display: flex;position: relative; background: white;flex-direction: column;justify-content: center;height: 100vh; z-index: 10000; overflow-y: hidden;}
.loader_error-content{margin: 0px auto; text-align: center; font-size: 1rem; width: 98%;}
.loading-icon {margin-bottom: 1rem;}

/*MEDIA QUERY*/
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px){
    .loader_error-content{width: 80%;}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px){
    .loader_error-content{width: 50%;}
}