.bg-height{ height: auto; min-height: 100vh; max-height: 120vh; overflow: hidden !important;}
.closeBtn{ margin-top: 1rem;}
.loginForm{ color: antiquewhite;display: flex;justify-content: flex-start;flex-direction: column;}
.myForm{ margin-top: 2rem;}
.form-group{position: relative;}
.form-group .form-control{border-radius: 0px !important; padding-left: 34px !important;padding-right: 34px !important;background-clip: initial !important;}
.form-control:focus {outline: 0 !important;box-shadow: none;border-color:#aaaaaa;}
.input-group-text{border:0px; }
.form_ico{width: 30px; height: auto; padding:8px; position: absolute; margin-left:1px; margin-top:2px; z-index: 10;color:#111111;}
.error_content {color: #FA787E; display: block;}
.error_text, .ok_text {position:absolute; display: block; right: 10px; top:6px; z-index:90000 !important;}
.error_text{color: #FA787E;}
.ok_text {color: #78FA89;}
.alertWrapper{position: fixed;top:60px; left:20px; right: 20px;padding: 20px !important;z-index: 102;}
