<div *ngIf="generalError">
  <app-error-default [errMsj]="generalErrorMsj"></app-error-default>
</div>

<div *ngIf="!generalError" class="bg-dark">

  <app-loading *ngIf="loading"></app-loading>

  <div *ngFor="let logIn of logInData">

    <div class="icon-right">
      <a routerLink="/home" class="closeBtn"><i class="fas fa-times fa-2x" aria-hidden="true"></i></a>
    </div>
    
    <div *ngIf="!loading" class="main-bg"
      [ngStyle]="{'background-image':'url(' + logIn.logInContent.backgroundImage + ')'}">

      <div *ngFor="let response of logInDataResponse">
        <div [ngClass]="errorClass" data-auto-dismiss role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <div><strong [innerHTML]="response.title"></strong></div>
          <div [innerHTML]="response.message"></div>
          <div class="text-right">
            Code <span [innerHTML]="response.http_response_code"></span>
          </div>
        </div>
      </div>

      <div *ngIf="!loading" class="container animated fadeInLeft">
        <div class="row">
          <div class="col-12 col-sm-8 col-md-6 col-lg-4">
            <div class="loginForm">
              <h4 [innerHTML]="logIn.logInContent.titulo"></h4>
              <p [innerHTML]="logIn.logInContent.subTitulo"></p>

              <form [formGroup]="loginForm" (ngSubmit)="validarUsuario()" id="loginForm" novalidate>
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text form_ico bg-transparent">
                        <i class="far fa-user" aria-hidden="true"></i>
                      </div>
                    </div>
                    <input type="text" class="form-control" formControlName="correo"
                      [placeholder]="logIn.formLogIn.inputEmail.placeholder" />
                  </div>
                  <div class="error_content"
                    *ngIf="loginForm.get('correo').errors && (loginForm.get('correo').dirty || loginForm.get('correo').touched); else ok_email">
                    <div *ngIf="loginForm.get('correo').hasError('required')"
                      [innerHTML]="logIn.formLogIn.inputEmail.required_text"></div>
                    <div *ngIf="loginForm.get('correo').hasError('pattern')"
                      [innerHTML]="logIn.formLogIn.inputEmail.wrong_text"></div>
                    <div class="error_text">
                      <span class="text-danger"><i class="fas fa-times" aria-hidden="true"></i></span>
                    </div>
                  </div>
                  <ng-template #ok_email>
                    <div class="ok_text"
                      *ngIf="!loginForm.get('correo').hasError('required') && !loginForm.get('correo').hasError('pattern')">
                      <span class="text-success"><i class="fas fa-check" aria-hidden="true"></i></span>
                    </div>
                  </ng-template>
                </div>

                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text form_ico bg-transparent">
                        <i class="far fa-eye-slash" aria-hidden="true"></i>
                      </div>
                    </div>
                    <input type="password" class="form-control" autocomplete="on" formControlName="password"
                      [placeholder]="logIn.formLogIn.inputPassword.placeholder" />
                  </div>
                  <div class="error_content"
                    *ngIf="loginForm.get('password').errors && (loginForm.get('password').dirty || loginForm.get('password').touched); else ok_password">
                    <div *ngIf="loginForm.get('password').hasError('required')"
                      [innerHTML]="logIn.formLogIn.inputPassword.required_text"></div>
                    <div class="error_text">
                      <span class="text-danger"><i class="fas fa-times" aria-hidden="true"></i></span>
                    </div>
                  </div>
                  <ng-template #ok_password>
                    <div class="ok_text" *ngIf="!loginForm.get('password').hasError('required')">
                      <span class="text-success"><i class="fas fa-check" aria-hidden="true"></i></span>
                    </div>
                  </ng-template>
                </div>

                <div class="custom-control custom-checkbox mb-2">
                  <input name="recordarme" [checked]="recuerdame" (change)="setRecuerdame()" type="checkbox"
                    class="custom-control-input" id="customCheck1">
                  <label class="custom-control-label chkLabel" for="customCheck1"
                    [innerHTML]="logIn.formLogIn.checkboxRememberMe.label"></label>
                </div>

                <div class="mb-5">
                  <a [routerLink]="logIn.formLogIn.signUp.url" routerLinkActive="router-link-active"
                    [innerHTML]="logIn.formLogIn.signUp.label" class="float-right linkBtn" role="button"
                    aria-pressed="true"></a>
                </div>

                <div>
                  <button type="submit" [disabled]="loginForm.invalid" class="btn btn-lg btn-success btn-block"
                    [innerHTML]="logIn.formLogIn.save_button"></button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>