<div *ngIf="generalError">
	<app-error-default [errMsj]="generalErrorMsj" ></app-error-default>
</div>

<div *ngIf="!generalError" class="general-container">

	<app-loading *ngIf="loading"></app-loading>

	<div *ngFor="let responsive of responsiveData">
		<div class="main-banner">
			<div *ngIf="!loading" class="banner animated fadeIn" [ngStyle]="{'background-image':'url(' + responsive.contenido.backgroundImage + ')'}"></div>
		</div>

		<div *ngIf="!loading" class="container">
			<h1 [innerHTML]="responsive.contenido.titulo"></h1><br />
			<p [innerHTML]="responsive.contenido.subTitulo" class="lead intro"></p>

			<div class="row no-gutters">
				<div *ngFor="let elementos of responsive.elementos" class="col-12 col-sm-12 col-md-12 col-lg-6">
					<div class="cardHeight">
						<div class="row">
							<div class="col-12 col-sm-6 col-md-4">
								<div class="img_content">
									<img class="img-fluid" [src]="elementos.imgElements" alt="Logo" />
								</div>
							</div>
							<div class="col-12 col-sm-6 col-md-8">
								<div class="contenido_gen">
									<h4 [innerHTML]="elementos.tituloElements" class="title"></h4>
									<div [innerHTML]="elementos.textElements"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

