<!-- EL MERO CARRUSEL -->
<div *ngIf="generalError">
	<app-error-default [errMsj]="generalErrorMsj"></app-error-default>
</div>

<div *ngIf="!generalError">
<ngb-carousel>
  <ng-template ngbSlide *ngFor="let carousel of carruselData, let i = index">
    <div class="imgslide mx-auto" [ngStyle]="{'background-image':'url(' + carousel.sliderUrl + ')'}"></div>
      <div class="contenedor">
				<div class="carousel-caption text-left animated bounceInUp">
					<h1 [innerHTML]="carousel.tituloSlider"></h1>
					<p>
						<strong [innerHTML]="carousel.subTituloSlider"></strong><br>
						<span [innerHTML]="carousel.subTituloTextSlider" class="d-none d-sm-block"></span>
					</p>
					<a *ngIf="carousel && carousel.botonSliderdText" [innerHTML]="carousel.botonSliderdText"
						class="btn btn-lg btn-outline-blanco" [routerLink]="carousel.botonSliderdUrl " role="button"
						onclick="topFunction()"></a>
				</div>
			</div>
  </ng-template>
</ngb-carousel>
</div>